body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    display: flex;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 1300px;
}

.pacman {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 80px solid #ffd000;
        border-radius: 50%;
        border-right: 80px solid transparent;
        animation: a1 linear .5s infinite;
    }

    &::after {
        animation: a2 linear .5s infinite; 
    }

    div {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            background-color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1150px;
            opacity: 0;
        }

        &:nth-child(1) {
            animation: ball 3.5s 3.5s infinite linear;
        }

        &:nth-child(2) {
            animation: ball 3.5s 3s infinite linear;
        }

        &:nth-child(3) {
            animation: ball 3.5s 2.5s infinite linear;
        }

        &:nth-child(4) {
            animation: ball 3.5s 2s infinite linear;
        }

        &:nth-child(5) {
            animation: ball 3.5s 1.5s infinite linear;
        }

        &:nth-child(6) {
            animation: ball 3.5s 1s infinite linear;
        }

        &:nth-child(7) {
            animation: ball 3.5s 0.5s infinite linear;
        }

        &:nth-child(8) {
            animation: ball 3.5s 0s infinite linear;
        }


    }
}

@keyframes a1 {
    0% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes a2 {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes ball {
    1% {
        opacity: 1;
    }
    
    93% {
        opacity: 1;
    }

    94% {
        opacity: 0;
    }

    100% {
        transform: translate(-1270px,);
    }
}